*.pyc
__pycache__
*.dat
*.cgns
*.adf
*.hdf
*.pptx
*.docx
*.tp
*.plt
*.pdf
*.png
!MOLA/GUIs/**/*.png
*.svg
!MOLA/GUIs/**/*.svg
*.ppt
*.doc
*.odt
*.log
*.html
*elsA_MPI_Pid*
*DOCUMENTATION*
Examples
EXAMPLES
ExternalPythonPackages
ext
