*.pyc
__pycache__
*.dat
*.cgns
*.adf
*.hdf
*.pptx
*.docx
*.tp
*.plt
*.pdf
*.png
*.svg
*.ppt
*.doc
*.odt
*.log
*.html
*elsA_MPI_Pid*
dist
EXAMPLES*
doc/html
doc/theme
!doc/src/**/*.png
!doc/src/**/*.svg
