*.pyc
__pycache__
*.dat
*.cgns
*.adf
*.hdf
*.pptx
*.docx
*.tp
*.plt
*.pdf
*.png
!MOLA/backgrounds/**/*.png
!MOLA/DOCUMENTATION/src_sphinx/**/*.png
*.svg
!MOLA/DOCUMENTATION/src_sphinx/**/*.svg
*.ppt
*.doc
*.odt
*.log
*.html
*.nfs*
*elsA_MPI_Pid*
EXAMPLES*
ExternalPythonPackages
ext
DOCUMENTATION/html
DOCUMENTATION/PRESENTATIONS
DOCUMENTATION/src_sphinx/_*
DOCUMENTATION/src_sphinx/*.conf
